[submodule "submodules/tensorflow"]
	path = submodules/tensorflow
	url = https://github.com/tensorflow/tensorflow
[submodule "submodules/models"]
	path = submodules/models
	url = https://github.com/tensorflow/models
[submodule "submodules/libedgetpu"]
	path = submodules/libedgetpu
	url = https://github.com/google-coral/libedgetpu.git
[submodule "submodules/allwpilib"]
	path = submodules/allwpilib
	url = https://github.com/wpilibsuite/allwpilib.git
